/.github
/WanderPaws.Application/bin
/WanderPaws.Application/obj
/.vs
/WanderPaws.DataAccess/bin
/WanderPaws.DataAccess/obj
/WanderPaws.Domain/obj
/WanderPaws.Domain/bin
/WanderPaws.Implementation/obj
/WanderPaws.Implementation/bin
/WanderPaws.Server/obj
/WanderPaws.Server/bin
*.user
*.suo
/wanderpaws.client/obj
node_modules/