.logo {
    border-bottom: 1px solid gray;
}

.nav-item {
    border-left: 3px solid transparent;

    &&:hover {
        border-left: 3px solid gray;
    }
}

.activeNavItem {
    border-left: 3px solid black;
    color: black;
}


:host ::ng-deep .p-menu {
    border: none !important;
    border-radius: 0 !important;
    height: 100% !important;
}

:host ::ng-deep .p-menu .p-menuitem>.p-menuitem-content {
    border-radius: 0 !important;
    transition: none !important;
}

:host ::ng-deep .p-menu .p-menuitem:not(.p-highlight):not(.p-disabled)>.p-menuitem-content:hover,
:host ::ng-deep .p-menu .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus>.p-menuitem-content {
    background-color: transparent !important;
    /* Uklanja pozadinsku boju */
    box-shadow: none !important;
    /* Uklanja shadow */
    transition: none !important;
    /* Uklanja animaciju */
}
