<!-- <p-menu [model]="items" styleClass="w-full md:w-60 p-0">
    <ng-template pTemplate="start">
        <h1 class="text-xl font-semibold text-center m-0 px-2 py-3 mb-4">
            Wander<span class="text-primary">Paws</span>
        </h1>
    </ng-template>
    <ng-template pTemplate="item" let-item>
        <a class="flex flex-column justify-content-center align-items-center p-3 nav-item p-menuitem-link" (click)="setAsActive(item)" [ngClass]="{ 'activeNavItem': item.isActive}" [routerLink]="item.routerLink">
            <span [class]="item.icon" class="mb-2"></span>
            <span>{{item.label}}</span>
        </a>
    </ng-template>
</p-menu> -->


<p-menubar [model]="items">
    <ng-template pTemplate="start">
        <h1 class="text-xl font-semibold text-center m-0 px-2 py-3">
            Wander<span style="color: primaryButtonColor;">Paws</span>
        </h1>
    </ng-template>
    <ng-template #item let-item let-root="root">
        <a pRipple class="flex items-center p-menubar-item-link">
            <span>{{ item.label }}</span>
            <!-- <p-badge *ngIf="item.badge" [ngClass]="{ 'ml-auto': !root, 'ml-2': root }" [value]="item.badge" /> -->
            <span *ngIf="item.shortcut" class="ml-auto border border-surface rounded bg-emphasis text-muted-color text-xs p-1">{{ item.shortcut }}</span>
            <i *ngIf="item.items" [ngClass]="['ml-auto pi', root ? 'pi-angle-down' : 'pi-angle-right']"></i>
        </a>
    </ng-template>
</p-menubar>