<form (ngSubmit)="register()">
    <!-- E-mail Field -->
    <div class="field">
        <p-inputGroup class="w-full">
            <p-inputGroupAddon>
                <i class="pi pi-at"></i>
            </p-inputGroupAddon>
            <input pInputText placeholder="E-mail" id="email" name="email" [(ngModel)]="user.email"
                aria-describedby="email-help" required
                class="w-full p-2 border-1 border-solid surface-border border-round" />
        </p-inputGroup>
    </div>

    <!-- Full Name Field -->
    <div class="field">
        <p-inputGroup class="w-full">
            <p-inputGroupAddon>
                <i class="pi pi-user"></i>
            </p-inputGroupAddon>
            <input pInputText placeholder="Full Name" id="fullName" name="fullName" [(ngModel)]="user.fullName"
                aria-describedby="fullName-help" required
                class="w-full p-2 border-1 border-solid surface-border border-round" />
        </p-inputGroup>
    </div>

    <!-- Phone Number Field -->
    <div class="field">
        <p-inputGroup class="w-full">
            <p-inputGroupAddon>
                <i class="pi pi-phone"></i>
            </p-inputGroupAddon>
            <input pInputText placeholder="Phone Number" id="phoneNumber" name="phoneNumber"
                [(ngModel)]="user.phoneNumber" aria-describedby="phoneNumber" required
                class="w-full p-2 border-1 border-solid surface-border border-round" />
        </p-inputGroup>
    </div>

    <!-- Password and Confirm Password Fields -->
    <div class="field">
        <p-inputGroup class="w-full">
            <p-inputGroupAddon>
                <i class="pi pi-lock"></i>
            </p-inputGroupAddon>
            <input pInputText placeholder="Password" type="password" id="password" name="password"
                [(ngModel)]="user.password" aria-describedby="password" required />
            <input pInputText placeholder="Confirm Password" type="password" id="confirmPassword" name="confirmPassword"
                [(ngModel)]="user.confirmPassword" aria-describedby="confirmPassword-help" required />
        </p-inputGroup>
    </div>

    <!-- Register Button -->
    <button pButton pRipple label="Register" type="submit" class="w-full p-2 mb-3 primaryButtonColor"></button>
</form>