$websiteBackground: #f0f8ea; //website background
$navbarHeader:#d4a373;

$postAndDialogBackground:#fff;

$profile: #e6f4ea; //profile background
$border: #ffcccb; // border
$icons: #a67c52;
$hover: #3e6b57;

$primaryButton: #5e8b7e; // primary button
$headings: #4f4a3d;
$text: #333333;

// option 2

$websiteBackground1: #fceed1; // website background
$navbarHeader1:#ff8c42;

$postAndDialogBackground1:#fff;

$profile1: #ffe8d6; // profile background
$border1: #ff8c42; // border
$icons1: #d2691e;
$hover1: #e67e22;

$headings1:#754c24; 
$primaryButton1: #ff8c42; // primary button
$text1: #4a4a4a; // hover effects and notifications

