$softPink: #ffb6c1;

$brightGreen: #76ff03; // main buttons/ table header?
$peach: #ffdab9; // nav bar
$lavander: #e6e6fa; // odd rows 1st variation / header and footer
$veryLightLavander: #f3e6fa; // even rows 2nd variation
$coral: #ff6f61; // hover effects and notifications

$lightPink: #ffcccb; // even rows 1st variation / main section background
$darkerLightPink: #ffb2b2; // odd rows 2ns variation
// background gradient from light pink -> very light lavander or just lightPink
$text: #333333;
$gridLines: #d3d3d3; // graphsand tables
